{{ $reset := resources.Get "css/reset.css" }}
{{ $style := resources.Get "css/style.css" }}
{{/* $style := resources.Get "scss/style.sass" | toCSS (dict "targetPath" "assets/css/style.css" "enableSourceMap" true "transpiler" "dartsass") */}}
{{ $unsplash := resources.Get "css/unsplash.css" | resources.ExecuteAsTemplate "vars.css" . }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

{{ $main := slice $reset $unsplash $style | resources.Concat "css/main.css" }}
<link rel="stylesheet" href="{{ $main.RelPermalink }}" />
