{{define "main" }}
  {{partial "body/hero" .}}
  <section class="bg-neutral-800 text-neutral-100 text-align-center padding-block-1">  
    <div class="col-small mx-auto padding-block-1">{{.Content}}</div>
    <div class="contact mx-auto">
      <div id="contact-us" class="bg-neutral-100 padding-block-2 text-neutral-800">
        <ul class="fa-ul company-info">
          <li><span class="fa-li"><i class="fa-solid fa-phone"></i></span>{{.Site.Params.phone }}</li>
          <li><span class="fa-li"><i class="fa-solid fa-envelope"></i></span>{{.Site.Params.email }}</li>
          <li><span class="fa-li"><i class="fa-solid fa-home"></i></span>{{.Site.Params.address1 }}<br />{{ .Site.Params.address2 }}</li>
          <li><span class="fa-li"><i class="fa-brands fa-linkedin"></i></span>{{.Site.Params.linkedin | markdownify }}</li>
        </ul>
        {{ $logo := resources.Get "images/logo/lawless.svg" }}
        <img class="contact-us-logo"src="{{ $logo.Permalink }}" alt="Lawless RW Logo" >
      </div>
      <form action="#" class="form bg-neutral-400 padding-all-2">
        <input type="text" id="name" placeholder="Name"/>
        <input type="text" id="company" placeholder="Company"/>
        <input type="email" name="email" id="email" placeholder="E-Mail"/>
        <input type="text" id="phone" placeholder="Phone"/>
        <textarea type="text" name="message" id="message" rows="6" placeholder="Message"></textarea>
        <button>Submit</button>
      </form>
  </section>
{{end}}