@use 'libs'
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap")

:is(body, input, select, textarea)
  font-family: var(--ff-primary)
  color: var(--text-color)
  line-height: 1.625
  font-weight: 400
  font-size: 16pt

body
  background-color: var(--background)  
  height: fit-content
  // display: grid
  // grid-template-rows: auto 1fr auto

h1,
h2
  padding-block: var(--grid-gap)
  line-height: 1.2
  
p
 font-weight: normal
 padding-block: var(--grid-gap)

/* Composition */



/* Utility */
.text-
  &neutral-100
    color: var(--clr-neutral-100)
  &neutral-400
    color: var(--clr-neutral-400)
  &neutral-800
    color: var(--clr-neutral-800)
  &align-center
    text-align: center
  &uppercase
    text-transform: uppercase
  &captialize
    text-transform: lowercase

.bg-
  &neutral-100
    background-color: var(--clr-neutral-100)
  &neutral-400
    background-color: var(--clr-neutral-400)
  &neutral-800
    background-color: var(--clr-neutral-800)
  &image
    background-image: var(--bg-image)
    background-color: rgba(0,0,0,.3)
    background-blend-mode: multiply

.span-
  &all
    column-span: all

.flex-
  &100
    flex: 1 1 100%

.headline
  font-family: var(--ff-display)
  font-size: var(--headline-size)
  font-weight: var(--fw-900)
  line-height: 1

.drop-shadow
  &-400
    filter: drop-shadow(2px 2px 5px var(--clr-neutral-400))
  &-800
    filter: drop-shadow(2px 2px 5px var(--clr-neutral-800))
  
.sticky
  position: sticky
  top: 0
  will-change: transform

.debug
  border: 4px solid red
  * > *
    outline: 1px solid red


/* Block */

.banner
  background-repeat: no-repeat
  background-size: cover  
  background-position: center center 
  min-height: 250px
  color: var(--pure-white)
  display: flex
  flex-direction: column
  justify-content: center
  gap: var(--grid-gap)
  padding-block: 6em

.btn
  background: var(--background)
  border: solid 2px var(--clr-neutral-800)
  padding: 12px 26px
  max-width: 175px
  margin-inline: auto
  border-radius: 7px
  color: var(--text-color)
  text-decoration: none
  font-size: 1rem
  @include libs.trim-font
  @include libs.nothing

.section-text
  background-color: var(--pure-white)
  max-width: 40em
  margin-inline: auto
  padding-inline: 2em
  // columns: 30ch


/* Exceptions */

#hero
  --bg-image: url('/images/cameron-venti-_MjAjDQQgrY-unsplash.jpg') 

#banner2
  --bg-image: url('/images/omar-prestwich-MiJXjRxkueI-unsplash.jpg') 

.company-name
  display: var(--display-primary)




/* HEADER CONTENT */
.header 
  background: var(--background)
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  padding: var(--mobile-margin)
  z-index: 999

  & > *
    flex-shrink: 1

.mobile-name
  font-size: var(--header-height-mobile)
  font-weight: 900
  line-height: 1
  display: var(--display-mobile)
  @include libs.trim-font
  @include libs.nothing

.logo
  width: auto
  height: var(--svg-height)
  fill: var( --svg-clr)
  stroke: var( --svg-clr)
  #name
    display: var(--display-primary)

nav
  background: var(--background)
  position: absolute
  text-align: right
  top: 100%
  right: 0
  width: 100%
  transform: scale(1,0)
  transform-origin: top
  transition: transform 400ms ease-in-out
  
  ul
    margin: 0
    padding: 0
    list-style: none
  
  li
    margin-bottom: 0.5em
    margin-right: var(--mobile-margin)
    
  a
    opacity: 0
    text-decoration: none
    transition: opacity 150ms ease-in-out
    &:hover
      color: var(--accent)
  
.nav-toggle
  display: none
  
  &:checked ~ nav
    transform: scale(1,1)
    & a
      opacity: 1
      transition: opacity 250ms ease-in-out 250ms
    
  &-label
    display: var(--display-mobile)
    top: 0
    right: 0
    
    span
      @include libs.nav-selector
      @include libs.nothing
      &::before
        @include libs.span-selector
        @include libs.nothing
        bottom: calc(var(--hamburger-size)*2)
        
      &::after
        @include libs.span-selector
        @include libs.nothing
        top: calc(var(--hamburger-size))
        

/* MAIN CONTENT */

// Sections
section
  padding-block: 1em

#services
  background-color: var(--background-alt)
  padding-block: var(--grid-gap)

.services
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: var(--grid-gap)
  
  max-width: 60em
  margin-inline: auto
  padding-inline: 3em

.service 
  max-width: 20ch
  padding-bottom: 1em
  display: flex
  flex-direction: column
  justify-content: space-between
  header
    min-height: 340px
  // button
  //   border: none

.push-end
  margin-top: 1em

/* MEDIA */
 
@media screen and (min-width: libs.$breakpoint-mobile)
  :root
    --display-primary: block
    --display-mobile: none
    --svg-height: var(--header-height-primary)
    --headline-size: var(--headline-size-primary)

  .header
    p
      margin-inline: auto

  nav
    all: unset
    a
      opacity: 1
    ul
      display: flex