<section id="certifications" class="bg-mixed padding-block-default" {{ with .Params.ariaLabeledBy }} aria-labelledby="{{.}}"{{ end }} {{ with .Params.ariaLabel }} aria-label="{{.}}"{{ end }}>
  <header class="text-align-center padding-block-1">
    <h2 {{ with .Params.ariaLabeledBy }} id="{{.}}"{{ end }} class="headline text-uppercase">{{.Title | safeHTML }}</h2>
  </header>
  {{ $gallery := resources.Match "images/certifications/*"  }}
  <div class="col-large  gallery">
    {{ range $gallery }}
    <img src="{{ .Permalink }}" alt="" class="drop-shadow-400 cert-logo" >
    {{ end }}    
  </div>
</section>