<p class="phone headline text-uppercase padding-block-1">Contact us</p>
<div class="contact mx-auto">
  <div id="contact-us" class="company-info bg-neutral-100 padding-all-1 text-neutral-800">
    <p>Phone: <br>{{.Site.Params.phone }}</p>
    <p>E-mail: <br>{{.Site.Params.email }}</p>
    <p>Address: <br>{{.Site.Params.address1 }}<br>{{ .Site.Params.address2 }}</p>
  </div>
  <form action="#" class="form bg-neutral-400 padding-all-2">
    <input type="email" name="email" id="email" placeholder="E-Mail"/>
    <input type="text" id="name" placeholder="Name"/>
    <textarea type="text" name="message" id="message" rows="6" placeholder="Message"></textarea>
    <button>Submit</button>
  </form>
</div>