<!-- Section: Services -->
<section id="services" class="bg-neutral-400 text-neutral-100 bg-unsplash-img-3">
  <div class="services">
    <h2 class="headline text-uppercase flex-100 text-align-center drop-shadow-800">Services</h2>
    {{ range where site.RegularPages "Type" "services" }}
      <article class="service border-radius bg-neutral-100 ">
        <header class="text-neutral-800 text-align-center" >
          <a href="{{.Permalink}}" class="text-neutral-100">
            {{ $banner := resources.GetMatch .Params.banner}}
            {{ if $banner }}
              {{ $banner := $banner.Fill (printf "1080x600 %s" .Params.fill) }}
              <img src="{{$banner.Permalink}}" alt="{{with .Params.alt}}{{.}}{{else}}{{.Title}}{{end}}">
            {{ end }}
          </a>
          <h3>{{ .Title }}</h3>
        </header>
        <button class="border-radius margin-auto">Learn more</button>
      </article>
    {{ end }}
  </div>
</section>