:root {
  /* Design System */
  --battleship-gray: #848482;
  --rich-black: #010203;
  --pure-white: #FFFFFF;
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-400: #848482;
  --clr-neutral-800: #010203;
  --ff-primary: "Roboto Slab", serif;
  --ff-display: "Josefin Sans", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
  --fs-700: 1.74rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  /* Settings */
  --display-primary: none;
  --display-mobile: inherit;
  --header-height-small: 1.5em;
  --header-height-primary: 4em;
  --hamburger-size: 5px;
  --headline-size-small: 1.2em;
  --headline-size-medium: 1.4em;
  --headline-size-large: 3rem;
  --mobile-margin: 0.8rem;
  --break-point: 50em;
  --grid-gap: 1rem;
  --border-radius: .4375em;
  --global-width-primary: min(85%, 30em);
  --global-width-extended: min(85%, 44em);
  --padding-default: 3em;
  --card-size-small: 24ch;
  --card-size-medium: 21ch;
  --card-size-large: 21ch;
  /* Dynamic Settings */
  --background: var(--clr-neutral-100);
  --background-alt: var(--clr-neutral-400);
  --svg-clr: var(--clr-neutral-800);
  --svg-height: var(--header-height-small);
  --headline-size: var(--headline-size-small);
  --text-color: var(--clr-neutral-800);
  --card-max-width: var(--card-size-small);
}

:is(body, input, select, textarea) {
  font-family: var(--ff-primary);
  color: var(--text-color);
  line-height: 1.625;
  font-weight: 700;
  font-size: 16pt;
}

html {
  scroll-padding-top: calc(var(--headline-size) + 4em);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  height: fit-content;
}

h1,
h2,
h3 {
  padding-block: var(--grid-gap);
  line-height: 1.2;
}

p {
  font-weight: normal;
  padding-block: var(--grid-gap);
}

/* Composition */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  margin-inline: auto;
}

.cert-logo {
  max-height: 2.5em;
}

.single-colunm {
  width: var(--global-width-primary);
  margin-inline: auto;
}

.single-colunm-extended {
  width: var(--global-width-extended);
  margin-inline: auto;
}

.contact {
  max-width: 46em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company-info {
  width: 20em;
}

.form {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.form > * {
  margin-block: 0.125em;
}

.row {
  align-content: end;
}

/* Utility */
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-800 {
  color: var(--clr-neutral-800);
}
.text-align-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-captialize {
  text-transform: lowercase;
}
.text-font-primary {
  font-family: var(--ff-primary);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}
.bg-image {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.padding-block-1 {
  padding-block: 1em;
}
.padding-block-2 {
  padding-block: 2em;
}
.padding-block-3 {
  padding-block: 3em;
}
.padding-block-4 {
  padding-block: 4em;
}
.padding-block-default {
  padding-block: var(--padding-default);
}
.padding-all-1 {
  padding: 1em;
}
.padding-all-2 {
  padding: 2em;
}
.padding-all-3 {
  padding: 3em;
}

.span-all {
  column-span: all;
}

.flex-100 {
  flex: 1 1 100%;
}

.headline {
  font-family: var(--ff-display);
  font-size: var(--headline-size);
  font-weight: var(--fw-700);
  line-height: 1;
}

.drop-shadow-400 {
  filter: drop-shadow(2px 2px 5px var(--clr-neutral-400));
}
.drop-shadow-800 {
  filter: drop-shadow(2px 2px 5px var(--clr-neutral-800));
}

.sticky {
  position: sticky;
  top: 0;
  will-change: transform;
}

.debug {
  border: 4px solid red;
}
.debug * > * {
  outline: 1px solid red;
}

.border-radius {
  border-radius: var(--border-radius);
}

.margin-auto {
  margin: auto;
}

.mx-auto {
  margin-inline: auto;
}

.display-none {
  display: none;
}

.copyright {
  font-size: var(--fs-300);
}
.copyright a {
  color: var(--clr-neutral-100);
  text-decoration-color: blue;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

/* Block */
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  color: var(--pure-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--grid-gap);
  padding-block: 6em;
}

.btn {
  background: var(--background);
  border: solid 2px var(--clr-neutral-800);
  padding: 12px 26px;
  max-width: 175px;
  margin-inline: auto;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}
.btn::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.btn::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

.btn-alt {
  background: var(--clr-neutral-400);
  border: solid 2px var(--clr-neutral-800);
  padding: 12px 26px;
  max-width: 175px;
  margin-inline: auto;
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-size: 1rem;
}
.btn-alt::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.btn-alt::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

.section-text {
  background-color: var(--pure-white);
  margin-inline: auto;
  font-size: 14pt;
}

/* Exceptions */
.company-name-p1 {
  display: var(--display-primary);
}
.company-name-p2 {
  font-family: serif;
  font-weight: 300;
  font-size: 2.6rem;
  text-transform: uppercase;
}

/* HEADER CONTENT */
.header {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--mobile-margin);
  z-index: 999;
}
.header > * {
  flex-shrink: 1;
}

.mobile-name {
  font-size: var(--header-height-mobile);
  font-weight: 900;
  line-height: 1;
  display: var(--display-mobile);
}
.mobile-name::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.mobile-name::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

.logo {
  width: auto;
  height: var(--svg-height);
  fill: var(--svg-clr);
  stroke: var(--svg-clr);
}
.logo #name {
  display: var(--display-primary);
}

nav {
  background: var(--background);
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 0.5em;
  margin-right: var(--mobile-margin);
}
nav a {
  opacity: 0;
  text-decoration: none;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: var(--accent);
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label {
  display: var(--display-mobile);
  top: 0;
  right: 0;
}
.nav-toggle-label span {
  display: block;
  background: var(--text-color);
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 7);
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before {
  display: block;
  background: var(--text-color);
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 7);
  border-radius: 2px;
  position: relative;
  content: "";
  bottom: calc(var(--hamburger-size) * 2);
}
.nav-toggle-label span::after {
  display: block;
  background: var(--text-color);
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 7);
  border-radius: 2px;
  position: relative;
  content: "";
  top: calc(var(--hamburger-size));
}

/* MAIN CONTENT */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--grid-gap);
  margin-inline: auto;
  padding-inline: 3em;
  max-width: 100em;
}

.service-card {
  box-shadow: 2px 2px 5px var(--clr-neutral-800);
  max-width: var(--card-max-width);
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-card header h3 {
  width: 95%;
  margin-inline: auto;
  min-height: 7.25rem;
}

.push-end {
  margin-top: 1em;
}

/* MEDIA */
@media screen and (min-width: 43.75em) {
  :root {
    --display-primary: block;
    --display-mobile: none;
    --svg-height: var(--header-height-primary);
    --headline-size: var(--headline-size-primary);
  }

  .header p {
    margin-inline: auto;
  }

  nav {
    all: unset;
  }
  nav a {
    opacity: 1;
  }
  nav ul {
    display: flex;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/libs/_vars.sass%22,%22../scss/style.sass%22,%22../scss/libs/_mixins.sass%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AACE;EACA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;EAEA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;EACA;EACA;AAEA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;AAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;ACvDF;EACE;EACA;EACA;EACA;EACA;;;AAEF;EACE;EACA;;;AAEF;EACE;EACA;;;AAEF;AAAA;AAAA;EAGE;EACA;;;AAEF;EACC;EACA;;;AAED;AAEA;EACE;EACA;EACA;EACA;EACA;;;AAEF;EACE;;;AAEF;EACE;EACA;;;AAEF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAIF;EACE;;;AAEF;EACE;EACA;EACA;EACA;;AACA;EACE;;;AAKJ;EACE;;;AAEF;AAEE;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;;AAGF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;EACA;;;AAGF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;AACF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAEJ;EACE;EACA;EACA;EACA;;;AAGA;EACE;;AACF;EACE;;;AAGJ;EACE;EACA;EACA;;;AAEF;EACE;;AACA;EACE;;;AAEJ;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAGA;EACE;;;AAEJ;EACE;;AACA;EACE;EACA;EACA;EACA;;;AAEJ;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AChLA;EACE;EACA;EACA;;AACF;EACE;EACA;EACA;;;AD6KJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AC5LA;EACE;EACA;EACA;;AACF;EACE;EACA;EACA;;;ADyLJ;EACE;EACA;EACA;;;AAEF;AAGE;EACE;;AACF;EACE;EACA;EACA;EACA;;;AAEJ;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;;AAEJ;EACE;EACA;EACA;EACA;;ACjOA;EACE;EACA;EACA;;AACF;EACE;EACA;EACA;;;AD8NJ;EACE;EACA;EACA;EACA;;AACA;EACE;;;AAEJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEF;EACE;EACA;;AAEF;EACE;EACA;EACA;;AACA;EACE;;;AAEN;EACE;;AAEA;EACE;;AACA;EACE;EACA;;AAEJ;EACE;EACA;EACA;;AAEA;ECnSF;EACA;EACA;EACA;EACA;EACA;;ADiSI;ECtSJ;EACA;EACA;EACA;EACA;EACA;EAKA;ED+RM;;AAEF;EC3SJ;EACA;EACA;EACA;EACA;EACA;EAKA;EDoSM;;;AAGR;AAGA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;;AAEE;EACE;EACA;EACA;;;AAIN;EACE;;;AAEF;AAEA;EACE;IACE;IACA;IACA;IACA;;;EAGA;IACE;;;EAEJ;IACE;;EACA;IACE;;EACF;IACE%22,%22file%22:%22style.css%22%7D */
