@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
:root {
  --border-red: red solid 2px;
  --battleship-gray: #848482;
  --rich-black: #010203;
  --pure-white: #FFFFFF;
  --text-color: var(--rich-black);
  --background: var(--pure-white);
  --background-alt: var(--battleship-gray);
  --ff-primary: Roboto, Helvetica, sans-serif;
  --ff-display: "Josefin Sans", serif;
  --mobile-margin: 0.8rem;
  --break-point: 50em;
  --span-height: 6px;
  --grid-gap: 1rem;
  --display-primary: none;
  --display-mobile: inherit;
}

:is(body, input, select, textarea) {
  font-family: var(--ff-primary);
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.625;
  color: var(--text-color);
}

body {
  background-color: var(--background);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1,
h2 {
  padding-block: var(--grid-gap);
}

p {
  font-weight: normal;
  padding: var(--grid-gap);
}

/* UTILITY CLASSES */
.uppercase {
  text-transform: uppercase;
}

.headline {
  font-family: var(--ff-display);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

/* HEADER CONTENT */
.header {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--mobile-margin);
  z-index: 999;
  filter: drop-shadow(0px 5px 5px var(--battleship-gray));
}
.header > * {
  flex-shrink: 1;
}

.mobile-name {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  display: var(--display-mobile);
}
.mobile-name::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.mobile-name::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

.logo-primary {
  display: var(--display-primary);
}
.logo-mobile {
  display: var(--display-mobile);
}

nav {
  background: var(--background);
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 0.5em;
  margin-right: var(--mobile-margin);
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  color: var(--text-color);
}
nav a:hover {
  color: var(--accent);
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label {
  display: var(--display-mobile);
  top: 0;
  right: 0;
}
.nav-toggle-label span {
  display: block;
  background: var(--text-color);
  height: var(--span-height);
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before {
  display: block;
  background: var(--text-color);
  height: var(--span-height);
  width: 2em;
  border-radius: 2px;
  position: relative;
  content: "";
  bottom: calc(var(--span-height) * 2);
}
.nav-toggle-label span::after {
  display: block;
  background: var(--text-color);
  height: var(--span-height);
  width: 2em;
  border-radius: 2px;
  position: relative;
  content: "";
  top: calc(var(--span-height));
}

/* MAIN CONTENT */
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  color: var(--pure-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--grid-gap);
  padding-block: 4em;
}
.banner h1, .banner h2 {
  filter: drop-shadow(2px 2px 5px black);
  line-height: 1.2;
}

.btn {
  background: var(--background);
  color: var(--text-color);
  padding: 12px 26px;
  text-decoration: none;
  max-width: 175px;
  margin-inline: auto;
  border-radius: 7px;
}
.btn::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.btn::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

section {
  padding-block: 1em;
}

#hero,
#banner2 {
  background-color: var(--background-alt);
}

.hero_content {
  background-image: url("/images/cameron-venti-_MjAjDQQgrY-unsplash.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.company-name {
  display: var(--display-primary);
}

.about-us {
  background-color: var(--pure-white);
  max-width: 60em;
  margin-inline: auto;
  padding-inline: 3em;
  columns: 30ch;
}
.about-us h2 {
  column-span: all;
  text-align: center;
}

#services {
  background-color: var(--background-alt);
  padding-block: var(--grid-gap);
}

.services {
  color: var(--pure-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--grid-gap);
  max-width: 60em;
  margin-inline: auto;
  padding-inline: 3em;
}
.services h2 {
  flex: 1 1 100%;
  text-align: center;
}
.services a {
  color: var(--pure-white);
}

.service {
  width: clamp(10em, 25em, 100%);
}
.service img {
  max-height: 97px;
}
.service .service_image {
  display: flex;
  gap: 0.5em;
  justify-content: start;
  align-content: center;
}
.service .service_image span {
  margin-block: auto;
}

#banner2 .hero_content {
  background-image: url("/images/omar-prestwich-MiJXjRxkueI-unsplash.jpg");
}

/* MEDIA */
@media screen and (min-width: 800px) {
  :root {
    --display-primary: block;
    --display-mobile: none;
  }

  .header p {
    margin-inline: auto;
  }

  nav {
    all: unset;
  }
  nav a {
    opacity: 1;
  }
  nav ul {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
