@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
:root {
  /* Design System */
  --battleship-gray: #848482;
  --rich-black: #010203;
  --pure-white: #FFFFFF;
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-400: #848482;
  --clr-neutral-800: #010203;
  --ff-primary: Roboto, Helvetica, sans-serif;
  --ff-display: "Josefin Sans", serif;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
  --fs-700: 1.74rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
  /* Settings */
  --display-primary: none;
  --display-mobile: inherit;
  --header-height-mobile: 2em;
  --header-height-primary: 4em;
  --hamburger-size: 5px;
  --headline-size-mobile: 2em;
  --headline-size-primary: 5em;
  --mobile-margin: 0.8rem;
  --break-point: 50em;
  --grid-gap: 1rem;
  /* Dynamic Settings */
  --svg-clr: var(--clr-neutral-800);
  --svg-height: var(--header-height-mobile);
  --headline-size: var(--headline-size-mobile);
  --text-color: var(--clr-neutral-800);
  --background: var(--clr-neutral-100);
  --background-alt: var(--clr-neutral-400);
}

:is(body, input, select, textarea) {
  font-family: var(--ff-primary);
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.625;
  color: var(--text-color);
}

body {
  background-color: var(--background);
  height: fit-content;
}

h1,
h2 {
  padding-block: var(--grid-gap);
  line-height: 1.2;
}

p {
  font-weight: normal;
  padding-block: var(--grid-gap);
}

/* Composition */
/* Utility */
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-800 {
  color: var(--clr-neutral-800);
}
.text-align-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-captialize {
  text-transform: lowercase;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}
.bg-image {
  background-image: var(--bg-image);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.span-all {
  column-span: all;
}

.headline {
  font-family: var(--ff-display);
  font-size: var(--headline-size);
  font-weight: var(--fw-900);
  line-height: 1;
}

.drop-shadow-400 {
  filter: drop-shadow(2px 2px 5px var(--clr-neutral-400));
}
.drop-shadow-800 {
  filter: drop-shadow(2px 2px 5px var(--clr-neutral-800));
}

.sticky {
  position: sticky;
  top: 0;
  will-change: transform;
}

.debug {
  border: 4px solid red;
}
.debug * > * {
  outline: 1px solid red;
}

/* Block */
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  color: var(--pure-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--grid-gap);
  padding-block: 6em;
}

.btn {
  background: var(--background);
  border: solid 2px var(--clr-neutral-800);
  padding: 12px 26px;
  max-width: 175px;
  margin-inline: auto;
  border-radius: 7px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}
.btn::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.btn::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

.section-text {
  background-color: var(--pure-white);
  max-width: 60em;
  margin-inline: auto;
  padding-inline: 2em;
  columns: 30ch;
}

/* Exceptions */
#hero {
  --bg-image: url("/images/cameron-venti-_MjAjDQQgrY-unsplash.jpg");
}

#banner2 {
  --bg-image: url("/images/omar-prestwich-MiJXjRxkueI-unsplash.jpg");
}

.company-name {
  display: var(--display-primary);
}

/* HEADER CONTENT */
.header {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--mobile-margin);
  z-index: 999;
}
.header > * {
  flex-shrink: 1;
}

.mobile-name {
  font-size: var(--header-height-mobile);
  font-weight: 900;
  line-height: 1;
  display: var(--display-mobile);
}
.mobile-name::before {
  content: "";
  margin-bottom: -0.0745em;
  display: table;
}
.mobile-name::after {
  content: "";
  margin-top: -0.2765em;
  display: table;
}

.logo {
  width: auto;
  height: var(--svg-height);
  fill: var(--svg-clr);
  stroke: var(--svg-clr);
}
.logo #name {
  display: var(--display-primary);
}

nav {
  background: var(--background);
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 0.5em;
  margin-right: var(--mobile-margin);
}
nav a {
  opacity: 0;
  text-decoration: none;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: var(--accent);
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label {
  display: var(--display-mobile);
  top: 0;
  right: 0;
}
.nav-toggle-label span {
  display: block;
  background: var(--text-color);
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 7);
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before {
  display: block;
  background: var(--text-color);
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 7);
  border-radius: 2px;
  position: relative;
  content: "";
  bottom: calc(var(--hamburger-size) * 2);
}
.nav-toggle-label span::after {
  display: block;
  background: var(--text-color);
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 7);
  border-radius: 2px;
  position: relative;
  content: "";
  top: calc(var(--hamburger-size));
}

/* MAIN CONTENT */
section {
  padding-block: 1em;
}

#services {
  background-color: var(--background-alt);
  padding-block: var(--grid-gap);
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--grid-gap);
  max-width: 60em;
  margin-inline: auto;
  padding-inline: 3em;
}

.service {
  width: clamp(10em, 25em, 100%);
}
.service img {
  max-height: 97px;
}
.service .service_image {
  display: flex;
  gap: 0.5em;
  justify-content: start;
  align-content: center;
}
.service .service_image span {
  margin-block: auto;
}

/* MEDIA */
@media screen and (min-width: 800px) {
  :root {
    --display-primary: block;
    --display-mobile: none;
    --svg-height: var(--header-height-primary);
    --headline-size: var(--headline-size-primary);
  }

  .header p {
    margin-inline: auto;
  }

  nav {
    all: unset;
  }
  nav a {
    opacity: 1;
  }
  nav ul {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
