<header class="site-header drop-shadow-400 sticky">
  <div id="logo-container">
    <a id="logo-link" href="{{ .Site.BaseURL }}">
      {{ $logo := resources.Get "images/logo/lawless.svg" }}
      {{ $logo.Content | safeHTML }}
    </a>
  </div>

  <div class="mobile-header-name text-uppercase"><a href="{{ .Site.BaseURL }}">Lawless</a></div>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav class="navbar">
    <ul>
      {{ range .Site.Menus.main }}
        <li><a class="menu-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>