{{ define "main" }}
  {{ partial "sections/hero" . }}

  {{ range where site.RegularPages "Type" "homepage" }}
    {{ if (eq .Params.section_type "banner")  }}
      {{ partial "sections/banner" . }}
    {{ end}}
    
    {{ if (eq .Params.section_type "text")  }}
      {{ partial "sections/text" . }}
    {{ end}}
    
    {{ if (eq .Params.section_type "services")  }}
      {{ partial "sections/services" . }}
    {{ end}}
  
    {{ if (eq .Params.section_type "certifications")  }}
      {{ partial "sections/certifications" . }}
    {{ end}}
  {{ end }}
{{ end }}