<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head/metadata" . }}
    {{ partial "head/css" . }}
  </head>
  <body>
    <header class="header">
      <div id="logo-container">
        <a href="/">
          <img class="logo-mobile" src="images/lawless-logo.png" alt="Lawless R+W Logo" />
          <img class="logo-normal" src="images/lawless-logo-combo.png" alt="Lawless R+W Logo" >
        </a>
      </div>
      <div class="company-name">Lawless</div>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav class="navbar">
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>
    <main>
      <section id="hero">
        <div class="hero hero_content">
          <h1>Waterproofing & Restoration</h1>
          <a href="#contact-us" class="btn">Contact Us</a>
        </div>
      </section>
      <section id="about-us">
        <div class="about-us">
          <h2>About Us</h2>
          <p>At our core, we are a team of industry professionals with decades of on-the-ground and strategic management experience, allowing us to consistently deliver high-quality results.  We are passionate about delivering exceptional value for our clients and partners. Our range of skilled services include rehabilitative restoration and waterproofing, concrete preparation, water jetting, and facade maintenance.</p>
          <p> We utilize the latest technology, equipment, and materials in the industry and streamline our services to ensure optimum results. Working with architectural consultants allows us to help our clients identify and realize the full scope of work that needs to be performed, and then offer a complete range of services to satisfy our clients’ needs.</p>
          <p>Our integrity and our dedication to providing unrivaled value for our customers differentiates us from our competitors. We look forward to speaking with you about your specific needs and goals. <strong>Please call us at 970-302-0535.</strong></p>
        </div>
      </section>
      <section id="services">
        <div class="services">
          <h2>Services</h2>
          <div class="service">
            <a href="#">
              <div class="service_image" >
                <img src="images/waterproofing.jpg" alt="Waterproofing and Traffic Coating">
                <span>Waterproofing and Traffic Coating</span>
              </div>
            </a>
          </div>
          <div class="service">
            <a href="#">
              <div class="service_image" >
                <img src="images/Garage-Thumbnail-2048x1365.jpg" alt="Concrete Preparation">
                <span>Concrete Preparation</span>
              </div>
            </a>
          </div>
          <div class="service">
            <a href="#">
              <div class="service_image" >
                <img src="images/Coating1.jpg" alt="Historical Restoration and Facade Cleaning">
                <span>Historical Restoration and Facade Cleaning</span>
              </div>
            </a>
          </div>
          <div class="service">
            <a href="#">
              <div class="service_image" >
                <img src="images/Caulking-Thumbnail-1-2048x1365.jpg" alt="Caulking and Sealants">
                <span>Caulking and Sealants</span>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section id="banner">
        <div class="hero hero_content">
          <h1>We are Versatile</h1>
          <a href="#contact-us" class="btn">Contact Us</a>
        </div>
      </section>
      <section id="what-we-offer"></section>
    </main>
    <footer></footer>
  </body>
</html>
